<div class="header-panel" [class.active]="classApplied">
  <div class="header-panel-header" >
    <div class="header-panel-img">
      <img src="https://img.icons8.com/dotty/344/sun.png">
    </div>
    <h1>Weather Forecast</h1>
  </div>
</div>
<div class="weather-panel">

  <div class="container-panel">

    <mat-card id="container-settings">
      <div style="text-align: right">
        <button id="menu_button" type='button' mat-icon-button style="margin: auto; margin-top: 0; margin-right: 0;"
          [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="change_method(menu, default_method, modify_method)">{{ menu_text }}</button>
          </mat-menu>
        </button>
      </div>
      <div class="container-tile" id="type-of-fetch">
        <div #default_method id="enabled">
          <mat-form-field>
            <mat-label>Choose city</mat-label>
            <mat-select (valueChange)="city_selected($event)">
              <mat-option *ngFor="let city of cities" name="city" [value]="[city.name, city.country]">
                {{city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div #modify_method id="disabled">
          <div id="content-box">
            <mat-form-field id="mat-field-modify-params">
              <mat-label>Type latitude</mat-label>
              <input #lat name="Latitude" type="number" step="0.01" matInput placeholder="range of -90 to 90" value="0"
                (change)="Check_value(lat, 1)">
            </mat-form-field>
            <mat-form-field id="mat-field-modify-params">
              <mat-label>Type longitude</mat-label>
              <input #lon name="Longitude" type="number" step="0.01" matInput placeholder="range of -180 to 180"
                value="0" (change)="Check_value(lon, 0)">
            </mat-form-field>

            <button id="raised-button" mat-raised-button type='button' (ngModel)="button_model" mat-button
              (click)="Submit_by_params(lat.value, lon.value)">Submit</button>
          </div>
          <div id="content-box">
            <mat-checkbox id="check_box_country" color="primary" [(ngModel)]="check_box"
              (change)="switch_country_select($event, country_select, city_select)">Try search by country</mat-checkbox>

            <mat-form-field id="form_queary_params">
              <mat-label>Choose country</mat-label>

              <mat-select #country_select (valueChange)="find_cities($event)" [disabled]="true">

                <mat-option *ngFor="let country of countries_list" name="country" [value]="[country[0], country[1]]">
                  {{ country[0] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field id="form_queary_params">
              <mat-label>Choose city</mat-label>
              <mat-select #city_select (valueChange)="city_selected($event)" [disabled]="true">
                <mat-option *ngFor="let city of cities_list" name="city" [value]="[city[0], city[1]]">
                  {{city[0]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="container-extra-params">
        <div id="units-section">
          <mat-form-field>
            <mat-label>Temperature unit</mat-label>
            <mat-select (valueChange)="change_unit($event, default_method, lat.value, lon.value)"
              [formControl]="selected_temp">
              <mat-option value="C">°C</mat-option>
              <mat-option value="F">°F</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div id="chart-type-section">
          <mat-form-field>
            <mat-label>Chart type</mat-label>
            <mat-select (valueChange)="change_chart_type($event)" [formControl]="selectedType_form">
              <mat-option value="spline">Spline</mat-option>
              <mat-option value="area">Area</mat-option>
              <mat-option value="column">Column</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </mat-card>
    <div id="container-charts">
      <mat-card class="charts-card">
        <div id="container-chart"></div>
      </mat-card>
      <div id="container-ad-charts">
        <mat-card class="charts-card" id="charts-card-ad">
          <div id="container-humidity-chart"></div>
        </mat-card>
        <mat-card class="charts-card" id="charts-card-ad" style="margin: 0 auto">
          <div id="container-pressure-chart"></div>
        </mat-card>
        <mat-card class="charts-card" id="charts-card-ad">
          <div id="container-wind-chart" (click)="change_wind_chart()">

          </div>

        </mat-card>
      </div>
    </div>
  </div>
</div>