
h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 2em;
    font-weight:lighter;
    text-align: center;
}
.header-panel {
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    background-image: url('https://images.theconversation.com/files/232705/original/file-20180820-30593-1nxanpj.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=4800&h=3600.0');
   
   background-size: cover;
}
.header-panel-header {
    width: 400px;
    padding: 50px 0;
    margin: 0 auto;
    
    height: 300px;
}

.header-panel-img {
    
    filter: drop-shadow(2px 2px 2px black);
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
.header-panel-img img {
    filter: invert(1);
    height: 200px;
    width: 200px;
}