a, h2 {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-weight: lighter;
}
.bottom-panel {
    text-align: center;
    display: block;
    width: 100%;
    height: 200px;
}
.container-panel {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    display: flex;
}
.link-group {
    width: 80vw;
    display: flex;
    height: 20%;
    vertical-align: middle;
}
.container-contacts {
    display: block;
    margin: 0 auto;
}
.container-link {
    display: flex;
    margin: auto;
    width: 30%;
    justify-content: center;
}
.container-link a {
    display: flex;
    line-height: 24px;
}
.container-link a svg {
    margin-right: 8px;
}