<!--
<div class="map-user-menu">
    <div class="coords-view">
        <a routerLink="/" class="world-link"><img routerLink=""
                src="https://cdn-icons-png.flaticon.com/512/3880/3880131.png">
        </a>
        <input class="coord-field" placeholder="Latitude" [ngModel]="lat_field" [value]="[yMarkerCoord]"
            (change)="typeCoord($event, true)">


        <input class="coord-field" placeholder="Longitude" [ngModel]="lon_field" [value]="[xMarkerCoord]"
            (change)="typeCoord($event, false)">

        <img (click)="getCurrentLocation()"
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAwYzYuNjIzIDAgMTIgNS4zNzcgMTIgMTJzLTUuMzc3IDEyLTEyIDEyLTEyLTUuMzc3LTEyLTEyIDUuMzc3LTEyIDEyLTEyem0wIDJjNS41MTkgMCAxMCA0LjQ4MSAxMCAxMHMtNC40ODEgMTAtMTAgMTAtMTAtNC40ODEtMTAtMTAgNC40ODEtMTAgMTAtMTB6bTEuNDc2IDEyLjk1NWMuOTg4LS40MDUgMS43NTctMS4yMTEgMi4xMTYtMi4yMTZsMi40MDgtNi43MzktNi42NzIgMi4zODdjLTEuMDA2LjM2LTEuODExIDEuMTMxLTIuMjE2IDIuMTE5bC0zLjA2NSA3LjQ5NCA3LjQyOS0zLjA0NXptLS4xMjItNC4yODZjLjU1MS41NTEuNTUxIDEuNDQ2IDAgMS45OTYtLjU1MS41NTEtMS40NDUuNTUxLTEuOTk2IDAtLjU1MS0uNTUtLjU1MS0xLjQ0NSAwLTEuOTk2LjU1MS0uNTUxIDEuNDQ1LS41NTEgMS45OTYgMHoiLz48L3N2Zz4=">


    </div>
</div>
<div class="map" (click)="getCoords($event)">

    <div class="map-mask"></div>
    <img draggable="false" onmousedown="return false"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/World_location_map.svg/2560px-World_location_map.svg.png">

    <div class="map-lat">

        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4" id="center">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="2" id="last">
    </div>
    <div class="map-lon">

        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4" id="center">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4">
        <hr size="4" id="last">
    </div>


</div>
<div [ngStyle]="markerStyle" class="marker-chosen-location">
    <div [ngStyle]="labelStyle" class="label-location">
        <a (click)="get_charts()" routerLinkActive="active" ariaCurrentWhenActive="page">{{ yMarkerCoord }}°N {{
            xMarkerCoord }}°E

        </a>
    </div>
</div>
<div [ngStyle]="chartsStyle" class="details-container">

    <div class="control-panel">
        <h2>Location</h2>
        <div id="buttons-panel">
            <button routerLink="/weather-forecast" routerLinkActive="active" ariaCurrentWhenActive="page"
                id="route-button" mat-flat-button type='button' mat-button></button>
            <button id="close-charts" mat-button type="button" mat-flat-button (click)="changeRoute()">
            </button>
        </div>
    </div>
    <div class="charts-container">
        <router-outlet></router-outlet>
    </div>
</div>
-->
<link href="http://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
<div @map id="map" class="map-container"></div>
<div>
    <div [ngStyle]="chartsStyle" class="details-container">

        <div class="control-panel">
            <h2>Location</h2>
            <div id="buttons-panel">
                <button routerLink="/weather-forecast" routerLinkActive="active" ariaCurrentWhenActive="page"
                    id="route-button" mat-flat-button type='button' mat-button></button>
                <button id="close-charts" mat-button type="button" mat-flat-button (click)="changeRoute()">
                </button>
            </div>
        </div>
        <div class="charts-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>