
::-webkit-scrollbar { 
    display: none; 
}
.main-container-charts {
    width: 50vw;
    margin: auto;
}
@media (max-width:1200px) {
    .main-container-charts {
        width: 80vw;
    }
}
@media (max-width:800px) {
    .main-container-charts {
        width: 100vw;
    }
}