
.header-navigate {
    width: 100vw;
    min-height: 30px;
    height: 10vh;
    background: rgb(46, 130, 199);
    display: none;
}
#navigate-block {
    width: 50%;
}
a#navigate-link {
    font-size: 5vh;
    cursor: pointer;
}
.weather-panel {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
    height: 400px;
    position: absolute;
    display: flex;
}
#container-settings {
    width:200px;
    height: 100%;
    background: red;
}
#container-chart {
    width: calc(100% - 200px);
    height: 100%;
}

@media (max-width: 1200px) {
    .weather-panel {
        display: block;
    }
    #container-settings {
        width: 100%;
        height: 100px;
    }
}
@media (max-width: 1200px) {
    #container-chart {
        width: 100%;
    }
}